@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


.contactbody {
    margin: 0px;
    padding: 15px;
}
/* url(image/contact-bg.jpg */
.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #FFCD00;
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #FFCD00;
  border-radius: 50%;
}

.text {
  font-weight: 300;
  opacity: 0.9;
  color:white;
}

.contact-bg .text {
  margin: 1.6rem 0;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
  color: white;
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #FFCD00;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.4rem;
}

.contact-form > div {
  margin: 0 auto;
  text-align: center;
}

.contact-footer {
  padding: 2rem 0;
  background: #000;
}

.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}

.social-links a:hover {
  color: #FFCD00;
  border-color: #FFCD00;
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

#contact-form{
  background-color: transparent;
    display: flex;
    width:70%;
    
}
.feedback-input {
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #FFCD00;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #FFCD00; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.su {
  width: 160px;
  height: 50px; 
  background-color: white;
  border-radius:10%;
  border:0;
  cursor:pointer;
  color:black;
  font-size:20px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.su:hover { background: black;color: white; }

.contact-form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-input::placeholder{
  color: white;
}