@import 'typeface-poppins';
.app-container{
    margin: 0;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);;
    overflow: hidden;
}
.sidebar {
    /* flex-basis: 200px; */
    max-width: 15%;
    flex-shrink: 0;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border-radius:0px 40px 0px 0px;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: white;
    border-bottom:7px solid #FFCD00;
    border-radius: 0px 0px 40px 40px;
  }
  .logodash{
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 50%;
    width: fit-content;
    height: 40px;
}
  .logodash img{
    border-radius:50% ;
  }
  .sidebar-list {
    list-style-type: none;
    padding: 0;
    
  }
  .sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
  }
  .sidebar-list-item a {
    display: flex;
    color: white;
    align-items: center;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    line-height: 24px;
  }
  .sidebar-list-item a:hover{
    color: #FFCD00;   
  }
  .sidebar-list-item svg {
    margin-right: 8px;
  }
  .sidebar-list-item.active a{
    color: #FFCD00;   
  }
  .sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color:#FFCD00;  
    height: 100%;
    width: 5px;
  }
  .account-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
  }
  .account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .account-info-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .account-info-name {
    font-size: 14px;
    color: white;
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .account-info-more {
    color: var(--sidebar-main-color);
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
  
.app-content {
    padding: 16px;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  span{
    font-size: 15px;
  }
  #feather{
    background-color: #FFCD00;
    border-radius: 50%;
  }
  /* .app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
  }
  .app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  .app-content-headerButton {
    background-color: var(--action-color);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
  }
  .app-content-headerButton:hover {
    background-color: var(--action-color-hover);
  } */