  .backapp {
    display: flex;
    height:10vh;
    width: 100%;
    position: fixed;
  }
  .background-video {
    /* padding-top: 5%; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .logoandsign{
    display: flex;
    height: 10vh;
    width: 100%;
    position: fixed;
    /* flex-wrap: wrap;
    flex-flow: row; */
    padding-left:10px ;
  }
  .logo1{
    display: flex;
    width: 5%;
    height: 10vh;
  }
  .logo1 img{
    display: flex;
    height: 10vh;
    width:100%;
  }
 .logoandsign p:first-child{
  display: flex;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
  font-family:Poppins, sans-serif;
 }
 .logopara{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 10vh;
  width:20%;
  flex-direction: column;
 }
 .signinandsignup{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  height: 10vh;
  gap:30px;
  padding-right: 3%;
 }
 .s1{
  display: flex;
  height: fit-content;
  width: fit-content;
 }
 .s1 p{
  cursor: pointer;
 }
 .centerheaven{
  display: flex;
  width:100%;
  height: 100vh;
  margin-top: 5%;
 }

 .loadcont{
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
 }