.load0{
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  }
  .load{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family:"Kavoon";
      color: white;
      line-height: 2px;
  }
  #temp{
    color: #FFCD00;
  }
  #nex{
    background-color: white;
    border-radius: 50%;
    width: 70px;
  }