.sidebar{
    max-width: 15%;
    background:black;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
    position:fixed;
    text-transform: uppercase;
    border-radius:40px 40px 0px 0px;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: white;
    border-bottom:2px solid white;
    border-radius: 50px 50px 50px 50px;
  }
  .logodash{
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 50%;
    width: fit-content;
    height: 40px;
}
  .logodash img{
    border-radius:50% ;
  }
  .sidebar-list {
    list-style-type: none;
    padding: 0;
  }
  .sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
  }
  .sidebar-list-item a {
    display: flex;
    color: white;
    align-items: center;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    line-height: 24px;
  }
  .sidebar-list-item a:hover{
    color: #FFCD00;   
  }
  .sidebar-list-item svg {
    margin-right: 8px;
  }
  .sidebar-list-item.active a{
    color: #FFCD00;   
  }
  .sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color:#FFCD00;  
    height: 100%;
    width: 5px;
  }
  .account-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
  }
  .account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .account-info-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .account-info-name {
    font-size: 14px;
    color: white;
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .account-info-more {
    color: black;
    padding: 0;
    border-color: #FFCD00 ;
    background-color: transparent;
    margin-left: auto;
  }
 .app-content {
    display: flex;
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
    margin-left: 15%;
    }
  span{
    font-size: 15px;
  }
  .whole{
    display: flex;
  }
